{% extends 'layout.html.twig' %}

{% set upload = "/admin/upload" %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Добавление задач</h1>
        <div class="lead">
            <form action="{{ upload }}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="formFileLg" class="form-label">Выберите файл .txt</label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file" name="data">
                </div>
                <div class="mt-1">
                    <button class="btn btn-lg btn-primary">
                        Загрузить
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
