{% extends 'layout.html.twig' %}

{% block title %}
    {{ todo.description.name }}
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>{{ todo.description.name }}</h5>
                            <small>{{ todo.category.name.name }}</small>
                        </div>
                    </div>
                    <div class="card-text">
                        {{ todo.description.description }}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if todo.status.status %}
                                <button type="button" class="btn btn-sm btn-success disabled">
                                    Выполнено
                                </button>
                            {% else %}
                                <form action="/tasks/{{ todo.id }}/done" method="post">
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-warning">
                                        Закрыть
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                        <small class="text-muted">{{ todo.created_at|date }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}