{% extends 'layout.html.twig' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-1">
        {% for todo  in todos %}
            <div class="col-md-12 mb-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>{{ todo.description.name }}</h5>
                                <small>{{ todo.category.name.name }}</small>
                            </div>
                        </div>
                        <div class="card-text">
                            {{ todo.description.description }}
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/tasks/{{ todo.id }}" type="button" class="btn btn-sm btn-outline-secondary">
                                    Открыть
                                </a>
                            </div>
                            <small class="text-muted">{{ todo.createdAt|date }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}