<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>{% block title %} {% endblock %} - Test task ToDo</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-light">
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Test task</strong>
            </a>
            {% if user %}
                <strong class="navbar-brand d-flex align-items-center">{{ user.name.name }}</strong>
            {% else %}
                <a href="/login" class="navbar-brand d-flex align-items-center">
                    <strong>Login</strong>
                </a>
            {% endif %}
        </div>
    </div>
</header>

<div class="album py-5">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>