{% extends 'layout.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <form class="form-signin" method="post" action="/login">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" name="login" id="inputEmail" class="form-control" placeholder="Login address" required=""
               autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
               required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}